<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form action= "/madlib" method="POST">
        Name of a person: <input type="text" name="person">
        Tell me a color: <input type="text" name="color">
        Come up with a noun: <input type="text" name="noun">
        Come up with an adjective: <input type="text" name="adj"><br>
        Name a place:
        <select name="place">
            <option value="Timbuktu">Timbuktu</option>
            <option value="Abudabi">Abudabi</option>
            <option value="Mount Everest">Mount Everest</option>
            <option value="bottom of the sea">bottom of the sea</option>
        </select><br>
        Name a food:
        <select name="food">
            <option value="sushi">sushi</option>
            <option value="hotdog">hot dog</option>
            <option value="borscht">borscht</option>
            <option value="chocolate truffle">chocolate truffle</option>            
        </select><br>

        <input type="submit">

    </form>

</body>
</html>